* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  padding: 5px;
}

.logo-sign h1 {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-sign {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  border-bottom: 2px solid #dadada3b;
}

header hr {
  width: 30%;
}

header p {
  padding: 10px;
  width: 60%;
}

.container {
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
  width: 80%;
}

.App {
  gap: 30px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

#logbtn {
  height: 3em;
  width: 10%;
  letter-spacing: 2px;
  background-color: cornflowerblue;
  box-shadow: 2px 2px 0px 1px grey;
}

#logbtn:active {
  box-shadow: none;
  transform: translate(2px, 2px);
  transition: ease-in-out;
}

.likes,
.disLikes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.like-dis {
  display: flex;
  width: 8%;
  justify-content: space-around;
  align-items: center;
}

.container > p {
  text-align: left;
  flex-grow: 1;
  overflow-wrap: break-word;
  margin-right: 5%;
}

.addPost {
  position: fixed;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.postFormBlk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.postForm > div {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 30px;
  row-gap: 40px;
}

.postForm > div input {
  height: 120%;
}

.postForm {
  border: 2px solid;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#postSubmitBtn {
  width: 40%;
  height: 24px;
}

.postUserBlk {
  width: 100%;
}
